@import '../../assets/variables/color.scss';

.header-main {
    width: 100%;
    display: block;
    padding-bottom: 15px;
    border-bottom: 2px solid $red;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client-name {
    font-size: 18px;
    color: $cyan;

    span {
        color: $green;
    }
}

.date {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 18px;

    .icon {
        color: $yellow;
    }
}

@media screen and (max-width: 650px) {

    .date {
        display: none;
    }
}